@import 'layout/fonts.css';
@import 'blocks/reviews/reviews.css';
body {
  font-family: "Alegreya Sans";
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.logo {
  width: 55px;
  height: 39px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

html {
  width: 1100px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 28px;
}

.header-logo {
  margin-right: 45px;
}

.hero {
  background: url("../img/background-main.png") center, center;
  width: 100%;
  height: 652px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__item {
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.navigation__item:not(:last-child) {
  margin-right: 22px;
}

.telephone {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}

.hero__content {
  margin-top: 100px;
}

.btn {
  display: block;
  width: 156px;
  height: 60px;
  background: #FEDB3F;
  color: black;
  padding: 21px 41px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  border: transparent;
  border-radius: 50px;
  margin-top: 40px;
}

.hero__title {
  max-width: 500px;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 20px;
}

.hero__description {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.hero__item {
  margin-right: 33px;
  margin-top: 65px;
}

.hero__list-image {
  margin-right: 14px;
}

.hero__item-text {
  display: inline-block;
  width: 90px;
  color: white;
  font-family: Alegreya Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.why {
  padding-top: 105px;
  padding-bottom: 115px;
}

.why__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__text, .why__card {
  text-align: center;
}

.why__title {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: #292929;
}

.why__description {
  display: inline-block;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  max-width: 436px;
  margin-bottom: 50px;
  margin-top: 17px;
}

.why__card-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.why__card-text {
  display: inline-block;
  max-width: 280px;
}