.menu {
  position: relative;
  background: url("../img/sea.jpg") center center / cover no-repeat
    rgba(255, 255, 255, 0.1);
  color: white;
}
.menu__item {
  display: flex;

  @include phone{
    &--active{
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}

.menu__title {
  position: absolute;
  font-size: rem(48px);
  line-height: rem(58px);
  color: white;
  top: rem(109px);
  left: rem(84px);

  
  @include phone{
    position: absolute;
    left: rem(10px);
    top: rem(76px);
    font-size: rem(40px);
    line-height: rem(36px);
  }
}

.menu__title-text {
  position: absolute;
  z-index: 1;
  font-size: rem(48px);
  line-height: rem(58px);
  font-weight: bold;
  bottom: rem(39px);
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;

}

.menu__accord {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.menu__item-title {
  width: rem(102px);
  position: relative;
  color: white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 50%;
  }
}

.menu__item-title--long {
  background: url("../img/longslide.jpg") center center / cover no-repeat;
}

.menu__item-title--short {
  background: url("../img/shortslide.jpg") center center / cover no-repeat;
}

.menu__item-title--soft {
  background: url("../img/lastslide.jpg") center center / cover no-repeat;
}

.menu__content {
  position: relative;
  width: 0;
  max-width: rem(524px);
  overflow: hidden;
  background: rgba(51, 53, 55, 0.9);
  color: white;
  transition: width 0.5s;
}

.menu__content-utero {
  display: flex;
  flex-direction: column;
}

.menu__text{
  padding: rem(40px);
}