@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Alegreya Sans";
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  width: 60rem;
  margin: 0 auto;
}

.section {
  height: 100vh;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: #292929;
}

.burger {
  display: none;
  color: white;
}

.btn {
  display: block;
  background: #FEDB3F;
  color: black;
  padding: 21px 41px;
  font-family: "Alegreya Sans", sans-serif;
  line-height: 18px;
  font-weight: 800;
  text-align: center;
  border: transparent;
  border-radius: 100px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn--theme--orange {
  background: #FFD517;
  color: black;
  cursor: pointer;
  margin-right: -20px;
}
.btn--theme--orange:hover {
  background: black;
  color: #FFD517;
}

/*-----------------------------------------Не убирает оранжевую заливку-----------------------------*/
.btn--theme--transparent {
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-transform: none;
}

@media (max-width: 768px) {
  .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__container {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title {
    font-size: 48px;
    line-height: 58px;
    max-width: 665px;
  }
  .container {
    max-width: 768px;
  }
  .header {
    background-color: #1968B1;
    margin-top: 0px;
    padding: 26px 30px;
    width: 100%;
  }
  .navigation {
    display: none;
  }
  .btn {
    display: inline;
  }
  .hero__item {
    display: none;
  }
  .forms__container {
    max-width: 466px;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form__col {
    min-width: 100%;
    margin-right: 0px;
  }
  .form__input--textarea {
    min-width: 100%;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why {
  text-align: center;
}

.why__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 3%;
  position: relative;
}
.why__card:first-child {
  padding-left: 0;
}
.why__card:last-child {
  padding-right: 0;
}
.why__card:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 60px;
  right: -30px;
  width: 67px;
  height: 21px;
  background: url(../img/why.svg) center/contain no-repeat;
}

.why__text {
  margin-bottom: 49px;
}

.why__img-box {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: transparent;
  background-color: #F2F5F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.why__title {
  font-size: 48px;
  font-weight: 700;
  color: #292929;
  margin-bottom: 20px;
}

.why__description {
  padding: 0 27%;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #666;
}

.why__card-title {
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 32px;
}

.why__card-text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  color: #666;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.reviews__title {
  margin-bottom: 32px;
}

.reviews__content {
  background-color: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px;
  margin-bottom: 15px;
}

.reviews__text {
  display: inline-block;
  margin-left: 40px;
  max-width: 465px;
  text-align: left;
  padding-top: 27px;
}

.reviews__headtxt {
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 700;
  line-height: 32px;
}

.reviews__description {
  font-size: 18px;
  line-height: 21px;
  color: #666666;
  margin-bottom: 25px;
}

.reviews__username {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.reviews__image {
  width: 253px;
  height: 263px;
}

.review__image-item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__user {
  width: 75px;
  height: 75px;
  background-size: cover;
}
.review__user--active {
  border: 6px solid #FEDB3F;
  border-radius: 100px;
}

.reviews__user--girl {
  background: url(../img/girl.png) center/cover no-repeat;
  height: 75px;
  width: 75px;
  text-align: center;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.reviews__user--girl:hover {
  border: 6px solid #FEDB3F;
  border-radius: 100px;
}

.reviews__user--man {
  background: url(../img/man.png) center/cover no-repeat;
  height: 75px;
  width: 75px;
  text-align: center;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.reviews__user--man:hover {
  border: 6px solid #FEDB3F;
  border-radius: 100px;
}

.reviews__user--girl2 {
  background: url(../img/girl2.png) center/cover no-repeat;
  height: 75px;
  width: 75px;
  text-align: center;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
}
.reviews__user--girl2:hover {
  border: 6px solid #FEDB3F;
  border-radius: 100px;
}

.review__userlist {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 65px;
}

.order {
  background: url("../img/forms-back.jpg") center/cover no-repeat;
  position: relative;
  color: white;
}
.order::before {
  content: "";
  position: absolute;
  background-color: #000;
  opacity: 40%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.forms__container {
  z-index: 1;
}

.order__title {
  text-align: center;
  margin-bottom: 59px;
  color: white;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 27px;
}
.form__col:last-child {
  margin-right: 0px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 12px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 23px;
}
.form__block:last-child {
  margin-right: 0px;
}

.form__input {
  width: 100%;
  border: 3px solid transparent;
  padding: 18px 12px;
  border-radius: 4px;
}
.form__input:focus {
  border: 3px solid #FEDB3F;
  outline: none;
}
.form__input--textarea {
  height: 152px;
  resize: none;
  display: block;
}

.form__title {
  color: white;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 2px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 18px;
  margin-top: 0;
}
.radio:last-child {
  margin-right: 0;
}

.radio__title {
  font-size: 18px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
}
.form__controls--point {
  margin-top: 19px;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}
.radio__visible:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FEDB3F;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.radio--checkbox .radio__visible {
  border-radius: 4px;
  position: relative;
}
.radio--checkbox .radio__visible::before {
  width: 14px;
  height: 8px;
  background-color: transparent;
  border-radius: 0;
  border-left: 2px solid #FEDB3F;
  border-bottom: 2px solid #FEDB3F;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  position: absolute;
  top: 5px;
  left: 5px;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}

.logo {
  width: 55px;
  height: 39px;
}

.logo__img {
  max-width: 100%;
  max-height: auto;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__item {
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
.navigation__item:not(:last-child) {
  margin-right: 22px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone {
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  color: white;
}

.contacts__icon {
  width: 13px;
  height: 14px;
  margin-right: 5px;
}

.hero {
  background: url("../img/background-main.png") center center/cover no-repeat #1968B1;
  padding-top: 24px;
  padding-bottom: 64px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: white;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  max-width: 30.9375rem;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 17px;
}

.hero__main {
  margin-top: 0px;
}

.hero__description {
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 39px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__item:not(:last-child) {
  margin-right: 33px;
}

.hero__list-image {
  width: 41px;
  height: 41px;
  margin-right: 11px;
}

.hero__item-text {
  font-weight: 700;
  width: 90px;
}