.order{
    background: url('../img/forms-back.jpg') center / cover no-repeat;
    position: relative;
    color: white;
    

    &::before{
    content: '';
    position: absolute;
    background-color: #000;
    opacity: 40%;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    }
}
.forms__container{
    z-index: 1;
}

.order__title{
    text-align: center;
    margin-bottom:59px;
    color: white;
}

.form{
    display: flex;
    justify-content: center;
}

.form__col{
    flex: 1;
    margin-right: 27px;
   
    &:last-child{
        margin-right: 0px;
    }
}

.form__row{
    display: flex;
    flex: 1;
    margin-bottom: 12px;
}

.form__block{
    flex: 1;
    margin-right: 23px;
    
    

    &:last-child{
        margin-right: 0px;
    }
}

.form__input{
    width: 100%;
    border: 3px solid transparent;
    padding: 18px 12px;
    border-radius: 4px;

    &:focus{
        border: 3px solid #FEDB3F;
        outline:none;
    }

    &--textarea{
        height: 152px;
        resize: none;
        display: block;
        margin-bottom:38px;
    }
}



.form__title{
    color:white;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 2px;
}

.radio{
    display: flex;
    margin-right: 18px;
    margin-top: 0;
    &:last-child{
        margin-right:0;
    }
}

.radio__title{
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.form__controls{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
    &--point{
        margin-bottom: 45px;
    }
}




.radio__visible{
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;

    &:before{
        content:"";
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #FEDB3F;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    
}


.radio--checkbox{
    .radio__visible{
        border-radius: 4px;
        position: relative;
        
        &::before{
            width: 14px;
            height: 8px;
            background-color: transparent;
            border-radius: 0;
            border-left: 2px solid #FEDB3F;
            border-bottom: 2px solid #FEDB3F;
            transform: rotate(-50deg);
            position: absolute;
            top:5px;
            left: 5px;
        
     }  
    }

}
.radio__elem{
    display: none;

    &:checked ~ .radio__visible{ 
        &::before{
            display: block;
        }
    }
}

.form__btns{
    display: flex;
}



