@font-face {
    font-family: 'Alegreya Sans Light';
    src: url(fonts/Alegreya_Sans/AlegreyaSans-Light.ttf);
}

@font-face {
    font-family: 'Alegreya Sans Medium';
    src: url(fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf);
}


@font-face {
    font-family: 'Alegreya Sans Regular';
    src: url(fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}


@font-face {
    font-family: 'Alegreya Sans Bold';
    src: url(fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf);
}