@font-face {
    font-family: 'Alegreya Sans Light';
    src: 'fonts/Alegreya_Sans/AlegreyaSans-Light';
}

@font-face {
    font-family: 'Alegreya Sans Medium';
    src: 'fonts/Alegreya_Sans/AlegreyaSans-Medium';
}


@font-face {
    font-family: 'Alegreya Sans Regular';
    src: 'fonts/Alegreya_Sans/AlegreyaSans-Regular';
}


@font-face {
    font-family: 'Alegreya Sans Bold';
    src: 'fonts/Alegreya_Sans/AlegreyaSans-Bold';
}