.products {
  background-color: #f8faf9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.products__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products__control {
  cursor: pointer;
  position: absolute;
  background: transparent;
  border: transparent;

  &--left {
    left: 0;
    @include tablets {
      left: rem(129px);
    }

    @include sevenHundred {
      left: 0;
      
    }
  }

  &--right {
    right: 0;
    @include tablets {

      right: rem(129px);
    }
    @include sevenHundred {
        top: 10.375rem;
      right: 0;
      
    }
  }

  @include tablets {
    top: rem(215px);
  }
}

.products__item {
  display: flex;
  align-items: center;

  @include tablets {
    display: flex;
    flex-direction: column;
  }
}

.products__item-images {
  width: rem(419px);
  height: rem(538px);
  @include tablets {
    width: rem(318px);
    height: rem(417px);
  }

  @include phone {
    width: rem(252px);
    height: rem(331px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.products__item-img {
  margin-right: rem(88px);
  margin-left: -1.1875rem;
  width: rem(419px);
  height: rem(538px);
  position: relative;
  @include tablets {
    margin: 0;
    width: rem(318px);
    height: rem(417px);
  }
  @include phone {
    margin-bottom: rem(34px);
    width: rem(252px);
    height: rem(331px);
  }
}
.products__blub-item {
  position: absolute;
  z-index: 0;
  width: rem(367px);
    height: rem(398px);
  
  @include tablets {
    top: rem(45px);
    width: rem(306px);
    height: rem(292px);
  }

  @include phone {
    width: rem(244px);
    height: rem(233px);
  }
}

.products__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

// .products__image::before{
//     content: '';
//     background: url('img/blub.png') center/ cover no-repeat;
//     max-width: rem(397px);
//     max-height: rem(380px);
//     position: absolute;
//     top: 0px;
//     left:0px;
//     z-index: 1;
// }

.products__item-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: rem(371px);
  align-items: flex-start;
  @include tablets {
    text-align: center;
    max-width: rem(528px);
    align-items: center;
  }
  @include phone {
    text-align: center;
    max-width: rem(380px);
    align-items: center;
  }
}

.products__dropdown {
  display: inline-block;
  position: relative;

  &:hover {
    .dropdown {
      left: 100%;
      opacity: 1;
    }
  }
}

.products__dropdown-icon {
  max-width: rem(91px);
  max-height: rem(91px);
  margin-bottom: 52px;
  @include tablets {
    display: none;
  }
}

.products__title {
  margin-bottom: rem(24px);
  font-size: rem(36px);
  line-height: rem(43px);
  text-transform: uppercase;

  @include tablets {
    font-size: rem(30px);
    line-height: rem(36px);
    margin-bottom: rem(14px);
  }
}

.products__description {
  margin-bottom: rem(24px);
  font-size: rem(18px);
  line-height: rem(22px);
  color: #666666;
}

.products__parametres {
  display: flex;
  max-width: rem(343px);
  margin-bottom: rem(24px);
}

.products__parametres-height {
  margin-right: rem(52px);
}

.products__parametres-values {
  font-size: rem(18px);
  line-height: 22px;
  font-weight: 700;
}

.products__parametres-title {
  color: #666666;
}

.products__item-price {
  display: flex;
  justify-content: space-between;
  max-width: rem(371px);
}

.products__price {
  font-weight: 300;
  font-size: rem(60px);
  line-height: 60px;
  margin-right: rem(50px);
}
