*{
    box-sizing: border-box;
}

html{
    font-size: $projectFontSize;

}

body{
    font-family: 'Alegreya Sans';
    margin: 0;
    padding: 0;
    min-height: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

h1,h2,h3,h4,p{
    margin:0
}

.container{
    width: 60rem;
    margin: 0 auto;
}

.section{
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    
}

.section__title{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292929;
}

.burger{
    display: none;
    color: white;
}


.btn{
    display: block;
    background: #FEDB3F;
    color: black;
    padding: 21px 41px;
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 18px;
    font-weight: 800;
    text-align: center;
    border: transparent;
    border-radius: 100px;
    cursor: pointer;
    text-transform: uppercase;
}


.btn--theme--orange{
    background: #FFD517;
    color: black;
    cursor: pointer;
    margin-right: -20px;
    &:hover{
        background: black;
        color: #FFD517;
    }
}

/*-----------------------------------------Не убирает оранжевую заливку-----------------------------*/
.btn--theme--transparent{
    background-color: transparent;
    color: white;
    cursor: pointer;
    text-transform: none;
}



@media (max-width: 768px){
    html{
        font-size: 16px;
        max-width: 768px;
    }
    .container{
        max-width: 660px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #1968B1;
    }

    .header__container{
        margin: 0px auto;
    }
    .navigation{
        display: none;
    }


    .burger{
        display: block;
        color: white;
    }

    .contacts{
        display: none;
    }

    .hero__main{
        margin-top: 365px;
    }

    .hero__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 289px;
        margin-top:0rem;
        max-width: 660px;
        margin-left: auto;
    }

    .hero__title{
        min-width:665px;
        text-align: center;
    }

    .hero__description{
        margin-bottom: 44px;
        font-family: 'Alegreya Sans';
        font-size: 16px;
        font-weight: lighter;
        line-height: 25px;
        text-align: center;

    }

    .hero__item{
        display: none;
    }

    .why{
        margin-top: 269px;
        margin-bottom: 288px;
    }
}


@media (max-width: 480px){
    html{
        max-width: 480px;
        font-size: 16px;
    }
    .container{
        max-width: 473px;
    }

    .header__container{
        margin: 0px auto;
    }
    .hero__main{
        margin-top: 260px;
    }
    
    .hero__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:0rem;
        max-width: 480px;
        margin-left: auto;
    
    }
}