
.hero{
    background: url('../img/background-main.png') center center / cover no-repeat #1968B1;
    padding-top: 24px;
    padding-bottom: 64px;
    align-items: stretch;
    color: white;

    @include tablets{
        background: url('../img/background-main.png') center top 91px / cover no-repeat #1968B1;
        padding-bottom: 64px;
        align-items: stretch;
        color: white;
    }
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablets{
        height: 100vh;
        
    }
}


.hero__title{
    max-width: rem(495px);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 17px;
    @include tablets{
        max-width: 665px;
    }
    @include phone{
        width: rem(473px);
        font-size: rem(40px);
        line-height: rem(36px);
    }
}
.hero__main,
.hero__content{
    margin-top: 0;
    @include tablets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex:1;
        padding-top: rem(71px);
    }
}

.hero__content{
    padding-top: 7.275rem;
}

.hero__description{
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 39px;
}

.hero__list{
    display: flex;
    
    @include tablets{
        display: none;
    }
}

.hero__item{
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child){
        margin-right: rem(33px);
    }
}

.hero__list-image{
    width: 41px;
    height: 41px;
    
}

.hero__img-box{
    width: rem(35px);
    height: rem(35px);
    margin-right: rem(11px);
}

.board-icon{
    width: 100%;
    height: 100%;
}

.hero__item-text{
    font-weight: 700;
    width: 90px;
}