.hero {
  background: url("../img/background-main.png") center center/cover no-repeat #1968B1;
  padding-top: 24px;
}

.hero__title {
  max-width: 31.25rem;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0px;
  margin-bottom: 1.25rem;
}

.hero__main {
  margin-top: 0px;
}

.hero__description {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-bottom: 66px;
}

.hero__item {
  margin-right: 2rem;
  margin-top: 4rem;
}

.hero__list-image {
  margin-right: 0.875rem;
}

.hero__item-text {
  display: inline-block;
  width: 5.65rem;
  color: white;
  font-family: Alegreya Sans;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
}