*{
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    width:1100px;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding-top: 28px;
}

.header-logo{
    margin-right: 45px;
}

.hero{
    background: url('../../../img/background-main.png') center, center;
    width: 100%;
    height: 652px;
}

.navigation__list{
    display: flex;
    justify-content: space-between;
    
}

.navigation__item{
    color: white;
    font-family: 'Alegreya Sans',sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.navigation__item:not(:last-child){
    margin-right: 22px;
}


.telephone{
    font-family: 'Alegreya Sans',sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.hero__content{
    margin-top: 100px;
}


.btn{
    display: block;
    width: 156px;
    height:60px;
    background: #FEDB3F;
    color: black;
    padding: 21px 41px;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    border: transparent;
    border-radius: 50px;
    margin-top:40px;
}


.hero__title{
    max-width: 500px;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}

.hero__description{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.hero__list{
    display: flex;
    align-items: baseline;
    justify-content: left;
}

.hero__item{
    margin-right: 33px;
    margin-top: 65px;
}

.hero__list-image{
    margin-right: 14px;
}

.hero__item-text{
    display: inline-block;
    width: 90px;
    color: white;
    font-family: Alegreya Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}