*{
    box-sizing: border-box;
    overflow-x: hidden;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.75rem;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    margin-right: 2.8125rem;
}

.hero{
    background: url('../img/background-main.png') center center /cover no-repeat;
    width: 100%;
}

.navigation__list{
    display: flex;
    justify-content: space-between;
    
}

.navigation__item{
    color: white;
    font-family: 'Alegreya Sans',sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.navigation__item:not(:last-child){
    margin-right: 22px;
}


.telephone{
    font-family: 'Alegreya Sans',sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.hero__content{
    margin-top: 4.6125rem;
}


.btn{
    display: block;
    width: 9.75rem;
    height:3.75rem;
    background: #FEDB3F;
    color: black;
    padding: 1.3125rem 2.5625rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    border: transparent;
    border-radius: 100px;
    margin-top:2.5rem;
    cursor: pointer;
}


.hero__title{
    max-width: 31.25rem;
    color: white;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1.25rem;
}

.hero__description{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}

.hero__list{
    display: flex;
    align-items: baseline;
    justify-content: left;
    padding-bottom: 66px;
}

.hero__item{
    margin-right: 2rem;
    margin-top: 4rem;
}

.hero__list-image{
    margin-right: 0.875rem;
}

.hero__item-text{
    display: inline-block;
    width: 5.65rem;
    color: white;
    font-family: Alegreya Sans;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1rem;
}