.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews__title{
    margin-bottom: 32px;
    @include tablets{
        margin-top: rem(180px);
    }
}



.reviews__content{
    background-color:#F8FAF9;
    display: flex;
    padding: 42px;
    margin-bottom: 15px;
    
    @include tablets{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.reviews__text{
    display: inline-block;
    margin-left: rem(40px);
    max-width: rem(465px);
    text-align: left;
    padding-top:rem(27px);

    @include tablets{
        text-align: center;
        max-width: rem(677px);
        margin-left: 0;
        padding-top: 0;
    }
}

.reviews__headtxt{
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    
}

.reviews__description{
    font-size: 18px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 25px;
    @include tablets{
        max-width: rem(677px);
    }
}

.reviews__username{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.reviews__image{
    max-width: rem(253px);
    max-height: rem(263px);
    @include tablets{
        margin-bottom: rem(20px);
    }
}


.review__image-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tablets{
        max-width: rem(130px);
        max-height: rem(130px);
    }
}


.review__user{
    width:75px;
    height: 75px;
    background-size: cover;

    &--active{
        border: 6px solid #FEDB3F;
        border-radius: 100px;
    }
    
}

.reviews__users{
    @include tablets{
        margin-bottom: 180px;
    }
}

@each $user in (girl, man, girl2){
    .reviews__user--#{$user}{
        background: url(../img/#{$user}.png) center/ cover no-repeat;
        height: 75px;
        width: 75px;
        text-align: center; 
        margin-right: 7px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;

        &:hover{
            border: 6px solid #FEDB3F;
            border-radius: 100px;
        }
    }
    
    
}


.review__userlist{
    height: 75px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 65px;
    
}



