.reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.reviews__title{
    margin-bottom: 32px;
}


.reviews__content{
    background-color:#F8FAF9;
    display: flex;
    padding: 42px;
    margin-bottom: 15px;
}

.reviews__text{
    display: inline-block;
    margin-left: 40px;
    max-width: 465px;
    text-align: left;
    padding-top:27px;
}

.reviews__headtxt{
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 700;
    line-height: 32px;
    
}

.reviews__description{
    font-size: 18px;
    line-height: 21px;
    color: #666666;
    margin-bottom: 25px;
}

.reviews__username{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.reviews__image{
    width: 253px;
    height: 263px;
}


.review__image-item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.review__user{
    width:75px;
    height: 75px;
    background-size: cover;

    &--active{
        border: 6px solid #FEDB3F;
        border-radius: 100px;
    }
}

@each $user in (girl, man, girl2){
    .reviews__user--#{$user}{
        background: url(../../../img/#{$user}.png) center/ cover no-repeat;
        height: 75px;
        width: 75px;
        text-align: center; 
        margin-right: 7px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 50%;

        &:hover{
            border: 6px solid #FEDB3F;
            border-radius: 100px;
        }
    }
    
    
}


.review__userlist{
    height: 75px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 65px;
}



