@font-face {
  font-family: "Alegreya Sans";
  src: url(/fonts/Alegreya_Sans/AlegreyaSans-Light.ttf);
}
@font-face {
  font-family: "Alegreya Sans";
  src: url(/fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "Alegreya Sans";
  src: url(/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: "Alegreya Sans";
  src: url(/fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf);
}